**/__pycache__/

**/.cache
*.ipynb_checkpoints

#Some folders get created by tests.
**/*tests_output

# This folder gets created by running tests for fitness functions.
stk/tests/cage_target

# This folder gets created by running tests for cage topologies.
stk/tests/cage_topology_tests
stk/tests/cof_topology_tests
stk/tests/failures.txt
