name: Format code

on:
  push:
    branches: [master]

jobs:
  format-code:
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/lukasturcani/stk-test-environment

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Add stk to the conda environment
        run: conda run -n stk
          pip install --no-deps -e .

      - name: Run isort
        run: conda run -n stk
          isort src tests benchmarks

      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
            message: Sort imports
