name: tests

on:
    push:

    pull_request:
        types: [opened, reopened]

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - name: Git checkout
              uses: actions/checkout@v2

            - name: Add conda to system path
              run:
                # $CONDA is an environment variable pointing to the
                # root of the miniconda directory
                echo $CONDA/bin >> $GITHUB_PATH

            - name: Install dependencies
              run:
                conda install flake8

            - name: Lint with flake8
              run:
                flake8 .
                    --count
                    --show-source
                    --max-line-length=71
                    --statistics

    pytest-stable-linux:
        runs-on: ubuntu-latest

        services:
            MongoDB:
                image: mongo
                ports:
                    - 27017:27017

        steps:
            - name: Git checkout
              uses: actions/checkout@v2

            - name: Add conda to system path
              run:
                # $CONDA is an environment variable pointing to the
                # root of the miniconda directory
                echo $CONDA/bin >> $GITHUB_PATH

            - name: Install dependencies
              run:
                conda env update
                    --name base
                    --file tests/environment.yml

            - name: Run pytest
              run:
                pytest

            - name: Dump the database
              run:
                mongodump -d _stk_pytest_database -o database-dump
                tar -czf database-dump.tar.gz database-dump

            - name: Upload the database dump
              uses: actions/upload-artifact@v2
              with:
                name: database-dump
                path: database-dump.tar.gz


    basic-ea:
        runs-on: ubuntu-latest

        services:
            MongoDB:
                image: mongo
                ports:
                    - 27017:27017

        steps:
            - name: Git checkout
              uses: actions/checkout@v2

            - name: Add conda to system path
              run:
                # $CONDA is an environment variable pointing to the
                # root of the miniconda directory
                echo $CONDA/bin >> $GITHUB_PATH

            - name: Install dependencies
              run:
                conda env update
                    --name base
                    --file tests/environment.yml

                git clone https://github.com/lukasturcani/basic_ea
                    --depth 1

            - name: Run the EA
              run:
                python basic_ea/basic_ea.py

            - name: Upload fitness plot
              uses: actions/upload-artifact@v2
              with:
                name: basic-ea-fitness-plot
                path: fitness_progress.png

            - name: Upload rotatable bonds plot
              uses: actions/upload-artifact@v2
              with:
                name: basic-ea-rotatable-bonds-plot
                path: rotatable_bonds_progress.png



    intermediate-ea:
        runs-on: ubuntu-latest

        services:
            MongoDB:
                image: mongo
                ports:
                    - 27017:27017

        steps:
            - name: Git checkout
              uses: actions/checkout@v2

            - name: Add conda to system path
              run:
                # $CONDA is an environment variable pointing to the
                # root of the miniconda directory
                echo $CONDA/bin >> $GITHUB_PATH

            - name: Install dependencies
              run:
                conda env update
                    --name base
                    --file tests/environment.yml

                git clone
                    https://github.com/lukasturcani/intermediate_ea
                    --depth 1

            - name: Run the EA
              run:
                python intermediate_ea/intermediate_ea.py

            - name: Upload fitness plot
              uses: actions/upload-artifact@v2
              with:
                name: intermediate-ea-fitness-plot
                path: fitness_progress.png

            - name: Upload rotatable bonds plot
              uses: actions/upload-artifact@v2
              with:
                name: intermediate-ea-rotatable-bonds-plot
                path: rotatable_bonds_progress.png
