name: Tests

on: [push]

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - name: Git checkout
              uses: actions/checkout@v2

            - name: Add conda to system path
              run: |
                # $CONDA is an environment variable pointing to the
                # root of the miniconda directory
                echo $CONDA/bin >> $GITHUB_PATH

            - name: Install dependencies
              run: |
                conda install flake8

            - name: Lint with flake8
              run: |
                flake8 . \
                    --count \
                    --show-source \
                    --max-line-length=71 \
                    --statistics

    pytest-stable-linux:
        runs-on: ubuntu-latest

        steps:
            - name: Git checkout
              uses: actions/checkout@v2

            - name: Start MongoDB
              uses: supercharge/mongodb-github-action@1.3.0

            - name: Add conda to system path
              run: |
                # $CONDA is an environment variable pointing to the
                # root of the miniconda directory
                echo $CONDA/bin >> $GITHUB_PATH

            - name: Install dependencies
              run: |
                conda env update \
                    --name base \
                    --file tests/environment.yml

            - name: Run pytest
              run: |
                pytest

    basic-ea:
        runs-on: ubuntu-latest

        steps:
            - name: Git checkout
              uses: actions/checkout@v2

            - name: Start MongoDB
              uses: supercharge/mongodb-github-actions@1.3.0

            - name: Add conda to system path
              run: |
                # $CONDA is an environment variable pointing to the
                # root of the miniconda directory
                echo $CONDA/bin >> $GITHUB_PATH

            - name: Install dependencies
              run: |
                conda env update \
                    --name base \
                    --file tests/environment.yml

                git clone https://github.com/lukasturcani/basic_ea \
                    --depth 1

            - name: Run the EA
              run: |
                python basic_ea/basic_ea.py
